<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contato de <%= @message.name %></h1>
    <p>Email: <%= @message.email %></p>
    <p>Celular: <%= @message.cellphone %></p>
    <p>Telefone: <%= @message.phone %></p>
    <p>Mensagem:<br /><%= @message.message %></p>
  </body>
</html>
