<li><%= link_to "Usuários", admin_users_path %></li>
<li><%= link_to "Produtos", admin_products_path %></li>
<li><%= link_to "Categorias", admin_categories_path %></li>
<li><%= link_to "Pedidos", admin_orders_path %></li>
<li><%= link_to "Cupons", admin_coupons_path %></li>
<li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
