<div class="input-field col s6">
<%= form_tag apply_coupon_path do %>
  <%= text_field_tag :coupon, @coupon %>
  <%= label_tag :coupon, "Cupom de desconto" %>

  <% if current_order.coupon.nil? %>
    <%= submit_tag "Aplicar", class: "btn" %>
  <% else %>
    <%= link_to "Remover", "", class: "btn", confirm: "Deseja remover o desconto?" %>
  <% end %>
<% end %>
</div>
