<div class="row">
  <%= form_for @user do |f| %>

    <blockquote>Conta</blockquote>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :email %>
        <%= f.label :email, value: "Email" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password, value: "Senha" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :password_confirmation, value: "Confirmação" %>
      </div>
    </div>

    <blockquote>Dados pessoais</blockquote>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name, value: "Nome" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :phone %>
        <%= f.label :phone, value: "Telefone" %>
      </div>

      <div class="input-field col s6">
        <%= f.text_field :cellphone %>
        <%= f.label :cellphone, value: "Celular" %>
      </div>
    </div>

    <blockquote>Endereço</blockquote>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :address %>
        <%= f.label :address, value: "Endereço" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s10">
        <%= f.text_field :city %>
        <%= f.label :city, value: "Cidade" %>
      </div>

      <div class="input-field col s2">
        <%= f.text_field :uf %>
        <%= f.label :uf, value: "UF" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :cep %>
        <%= f.label :cep, value: "CEP" %>
      </div>
    </div>

    <div class="section">
      <%= f.button type: "submit", name: "action", class: "btn-large right" do %>
        <i class="material-icons right">send</i>Salvar
      <% end %>
    </div>

  <% end %>
</div>
