<!-- <% cache('navbar') do %> -->
<nav class="theme darken-2">
  <div class="nav-wrapper navbar">
    <ul class="firstnav">
      <% @categories_root.actives.each do |category_root| %>
      <li>
        <%= link_to category_root.name, '#' %>

        <% if category_root.children.actives.any? %>
          <div class="subnav theme darken-1">
            <div class="row">

            <% category_root.children.actives.each do |category| %>
              <div class="sec col s4">
                <h5 class="white-text"><%= category.name %></h5>
                <div class="divider"></div>
                <% category.children.actives.most_popular.each do |subcategory| %>
                  <%= link_to subcategory.name, subcategory if subcategory.purchable_products? %>
                <% end %>
              </div>
            <% end %>

            </div>
          </div>
        <% end %>
      </li>
      <% end %>

      <li><%= link_to "SIMULAR AMBIENTE", "#" %>
        <div class="subnav theme darken-1">
          <div class="row">
            <div class="sec col s4">
              <h5 class="white-text">SIMULADOR DE AMBIENTES</h5>
              <div class="divider"></div>
              <%= link_to "RESICOLOR", "http://www.resicolor.com.br/pt-br/espaco-color/simulador-ambientes", target: "_blank" %>
              <%= link_to "METALATEX", "http://www.sherwin-williams.com.br/simulador/", target: "_blank" %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- <% end %> -->
